<% if params[:q] %>
  <% content_for :heading, "Showing album results for '#{params[:q]}'" %>
<% else %>
  <% content_for :heading, 'All Albums' %>
<% end %>

<div class="row">
  <div class="col-sm-8 offset-2 mb-2">
    <% unless @albums.any? %>
    <div class="bg-warning px-2 mb-2">
      <h3>No albums found.</h3>
    </div>
    <% end %>
    <%= form_with action: albums_path, model: nil, method: :get, local: true do |f| %>
      <%= f.text_field :q, placeholder: 'Search', class: 'form-control' %>
    <% end %>
  </div>
</div>

<div class="card-columns">
  <% @albums.each do |album| %>
    <div class="card">
      <div class="card-body">
        <h4><%= link_to album.name, album_path(album) %></h4>
      </div>
      <div class="card-footer text-right">
        <small class="text-muted">by </small>
        <% album.artists.each do |artist| %>
          <%= link_to artist.name, artist %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @albums %>
