<% content_for :heading, @playlist.name %>
<% content_for :sub_heading do %>
  <h5>
    by <%= link_to @playlist.user.username, show_user_path(username: @playlist.user.username) %>
    on <%= @playlist.played_at %>
  </h5>
  <% if @playlist.user == current_user %>
    <%= link_to 'Edit', edit_playlist_path(@playlist), class: 'btn btn-warning' %>
  <% end %>
<% end %>

<div id='playlist-songs-table-container' class='row' style='margin-top: 30px;'>
  <%= render 'playlist_songs_table', playlist: @playlist %>
</div>

<% if @playlist.in_progress? %>
  <%= render 'add_track_form', playlist: @playlist if @playlist.user == current_user %>
  <% confirm_message = 'Are you sure you would like to end this playlist? (You will not be able to add songs afterwords)' %>
  <%= link_to "End Playlist", end_playlist_path(@playlist),
                              method: :patch,
                              confirm: confirm_message,
                              class: 'btn btn-danger' %>
<% end %>
