<div class='row'>
  <h1><%= @playlist.name %></h1>
</div>

<% @playlist.songs.each do |song| %>
<div class='row'>
  <div class='col-md-3'>
    <%= link_to song.name, song_path(song) %>
  </div>
  <div class='col-md-3'>
    <%= link_to song.album.artist.name, artist_path(song.album.artist) %>
  </div>
  <div class='col-md-3'>
    <%= link_to song.album.name, album_path(song.album) %>
  </div>
  <div class='col-md-3'>
    <%= link_to song.album.label.name, song.album %>
  </div>
</div>
<% end %>

<%= render 'add_song_form', playlist: @playlist if @playlist.user == current_user %>
