<% content_for :heading, @playlist.name %>
<% content_for :sub_heading do %>
  <h5>
    by <%= link_to @playlist.user.username, show_user_path(username: @playlist.user.username) %>
    on <%= @playlist.played_at %>
  </h5>
  <% if @playlist.user == current_user %>
    <%= link_to 'Edit', edit_playlist_path(@playlist), class: 'btn btn-warning' %>
  <% end %>
<% end %>

<div class='row' style='margin-top: 30px;'>
  <table class='table table-striped'>
    <tr>
      <th>Artist</th><th>Song</th><th>Album</th><th>Label</th><th>Actions</th>
    </tr>
<% @playlist.songs.includes(:artist, album: [:label]).each do |song| %>
  <tr>
    <td>
      <%= link_to song.artist.name, artist_path(song.artist) %>
    </td>
    <td>
      <%= link_to song.name, song_path(song) %>
    </td>
    <td>
      <%= link_to song.album.name, album_path(song.album) %>
    </td>
    <td>
      <% if song.album.label %>
      <%= link_to song.album.label.name, song.album.label %>
      <% end %>
    </td>
    <td>
      <% if @playlist.user == current_user %>
      <%= render 'playlist_songs/actions', playlist_song: song.playlist_songs.find_by(playlist: @playlist) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
<% if @playlist.in_progress? %>
  <%= render 'add_song_form', playlist: @playlist if @playlist.user == current_user %>
  <% confirm_message = 'Are you sure you would like to end this playlist? (You will not be able to add songs afterwords)' %>
  <%= link_to "End Playlist", end_playlist_path(@playlist),
                              method: :patch,
                              confirm: confirm_message,
                              class: 'btn btn-danger' %>
<% end %>
