<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <nav class='navbar navbar-default'>
        <%= link_to 'Playlists', playlists_path, class: 'navbar-brand' %>
        <%= link_to 'Artists', artists_path, class: 'navbar-brand' %>
        <%= link_to 'Albums', albums_path, class: 'navbar-brand' %>
        <%= link_to 'Labels', labels_path, class: 'navbar-brand' %>
      </nav>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
